<extend name="Public:ucore"/>
<block name="user_main">
<div class="user_main fr">
	<div class="user_main_head">
		<ul>
			<li>
			  账号设置
			</li>
			<li>
			  绑定手机
			</li>
			<li> 
			  修改密码
			</li>
		</ul>
	</div>

		<!--用户基本设置-->
	<div class="user_main_cont" >
	     <div class="user_main_addr">
			<a href="__CONTROLLER__/"><h4>返回个人中心</h4></a>
			<span><i></i>基本设置</span>
			<form action="__MODULE__/User/modUser" method="post" enctype="multipart/form-data">
				<table>
					<tr>
						<td align="center">
							<span>*</span>
							用户名:
						</td>
						<td>&nbsp;&nbsp;
							<span>{$user['username']}</span>
						</td>
					</tr>
					<tr>
						<td align="center">
							<span>*</span>
							昵称:
						</td>
						<td>
							<input type="text" value="{$user['name']}" name="name"/>
						</td>
					</tr>
					<tr>
						<td align="center">
							<span>*</span>
							图像:
						</td>
						<td>
							<input type="file" name="img" value="{{$user['img']}}"/>
						</td>
					</tr>
					<tr>
						<td></td>
						<td><img style="width:65px;height:65px;" src="__PUBLIC__/Uploads/user/{$user.image}?id/{:rand()}"></td>
					</tr>
					<tr>
						<td align="center">
							<span>*</span>
							电子邮箱:
						</td>
						<td>
							<input type="text" value="{$user.email}" name="email"/>
						</td>
					</tr>
					<tr>
						<td>
						</td>
						<td>
							<input class="button" type="submit" name="sub" value="提交"/>
							
							<input class="button last" type="reset" value="重置"/>
						</td>
					</tr>

				</table>
			</form>
		</div>
	</div>	
		<!--绑定手机-->
	<div class="user_main_cont" style="display:none;">
		<div class="user_main_addr">
			<a href="__CONTROLLER__/"><h4>返回个人中心</h4></a>
			<span><i></i>绑定手机</span>
			<form action="__MODULE__/User/phone" method="post">
				<table>
					
					<tr>
						<td align="right">
							<span>*</span>
							绑定手机号:
						</td>
						<td>
							<input type="text" name="phone" value="{$user.phone}" maxlength="11">
						</td>
					</tr>
					<tr>
						<td>
						</td>
						<td>
							<input class="button first" type="submit" name="sub" value="提交"/>
							<input class="button last" type="reset" value="重置"/>
						</td>
					</tr>

				</table>
			</form>
		</div>
	</div>
		<!--修改密码-->
	<div class="user_main_cont" style="display:none;">
		<div class="user_main_addr">
			<a href="__CONTROLLER__/"><h4>返回个人中心</h4></a>
			<span><i></i>密码设置</span>
			<form action="__CONTROLLER__/modPwd" method="post">
				<table>
					<tr>
						<td align="right">
							<span>*</span>
							旧密码:
						</td>
						<td>
							<input type="password" name="pwd"/>
							<span class="perror" style="color:red;font-size:12px;display:none;"></span>
						</td>
					</tr>
					<tr>
						<td align="right">
							<span>*</span>
							新密码:
						</td>
						<td>
							<input type="password" name="password"/>
							<span class="nperror" style="color:red;font-size:12px;display:none;"></span>
						</td>
					</tr>
					<tr>
						<td align="right">
							<span>*</span>
							确认密码:
						</td>
						<td>
							<input type="password" name="nrepwd"/>
							<span class="nprerror" style="color:red;font-size:12px;display:none;"></span>
						</td>
					</tr>
					<tr>
						<td>
						</td>
						<td>
							<input class="button first" type="submit" name="sub" value="提交"/>
							<input class="button last" type="reset" value="重置"/>
						</td>
					</tr>

				</table>
			</form>
		</div>
	</div>
	
</div>
</block>
<block name="js">
<script>
	 $(function(){
	$(".user_main .user_main_head ul >li:first").addClass("active");
	$(".user_main .user_main_cont").not(":first").hide();
	$(".user_main .user_main_head ul>li").unbind("click").bind("click", function(){
		$(this).siblings("li").removeClass("active").end().addClass("active");
		var index = $(".user_main .user_main_head ul >li").index( $(this) );
		$(".user_main .user_main_cont").eq(index).siblings(".user_main .user_main_cont").hide().end().fadeIn("slow");
   });
});
//判断密码
$("input[name='pwd']").blur(function(){
	var pass = $("input[name='pwd']").val();
	if(pass==''){
		$(".perror").show();
		$('.perror').text('*请输入旧密码');
	}else{
		if(pass.length<4||pass.length>16){
			$(".perror").show();
			$(".perror").text("*密码不合法!");
		}
	}
}).focus(function(){
	$(".perror").text('');
	$(".perror").hide();
});
//新密码
$("input[name='password']").blur(function(){
	var npass = $("input[name='password']").val();
	if(npass==''){
		$(".nperror").show();
		$('.nperror').text('*请输入新密码');
	}else{
		if(npass.length<4||npass.length>16){
			$(".nperror").show();
			$(".nperror").text("*密码必须在4-16之间!");
		}
	}
}).focus(function(){
	$(".nperror").text('');
	$(".nperror").hide();
});
//新密码判断
$("input[name='password']").blur(function(){
	var npass = $("input[name='password']").val();
	var nrepass = $("input[name='nrepwd']").val();
	if(npass != nrepass){
		$('.nprerror').show();
		$('.nprerror').text("两次密码不一致!");
	}
}).focus(function(){
	$(".nprerror").text('');
	$(".nprerror").hide();
})
</script>
</block>