@charset "utf-8";
/* CSS Document */
.review_warp{ overflow:hidden;}
.review{ width:1000px; overflow:hidden; margin:10px auto;}
.review_shop{ float:left}
.review_left{ width:203px; height:41px; float:left; margin-top:6px;}
.review_li{ margin-top:10px; display:block;font-size: 16px; font-weight: 700; color: #333; margin-left: 6px;}
.review_right{ float:right; width:150px; height:18px; margin-top:4px; }
.review_righta{ color:#999; font-size:12px;}
.sql_clear{ clear:both; height:1px;}
.sql{ margin-top:10px; overflow:hidden; border-bottom:1px solid #999;  }
.sql_h3{ color:#fff; height:30px;margin:0px; line-height:30px; background:#FF318C;padding-left:15px;}
.sql ul{ background:#FAFAFA; overflow:hidden;margin:0px;}
.sql li{list-style:none; float:left; color:#666; font-size:12px; height:25px; line-height:25px; }
.sql_li1{ width:35%}
.sql_li2{ width:30%}
.sql_li3{ width:25%}
input[type='checkbox']{ border:1px solid #000; border-radius:0; float:left; margin-top:6px;}
.sql_btn{ float:left; color:#666;}
.tootsie{ overflow:hidden;background:#FAFAFA; border-bottom:1px solid #999; margin-bottom:20px;padding:20px;}
.tootsie_img{ overflow:hidden; float:left }
.tootsie_img img{ height:200px; margin-top:30px;float:left}
.correspond{ float:left; margin-left:60px; overflow:hidden}
.correspond span{ background:url(../images/u_gouwuche.png) no-repeat -668px 0px; width:120px; height:16px; display:inline-block}
.correspond b{ background:url(../images/u_gouwuche.png) no-repeat -668px -16px; display:inline-block; width:26px; height:16px;}
.textarea{ float:right; margin-top:4px;  margin-bottom:10px; margin-right:10px;}
.anonymity{margin-top:10px;}
.anonymity input[type='checkbox']{ margin-top:4px;}
.anonymity span{ color:#666;}
.logistics{color:#666;padding-left:60px;border:1px solid #B2B2B2;background:#FAFAFA; overflow:hidden; margin-bottom:20px;}
.serving{clear:both; height:40px; line-height:40px;}
.serving p{ float:left;margin:5px 10px;}
.serving span{margin-top:8px;background:url(../images/u_gouwuche.png) no-repeat -668px 9px; width:120px; height:26px; display:inline-block; float:left}
.serving b.y_over{ background:url(../images/u_gouwuche.png) no-repeat -668px -16px; display:inline-block; width:26px; height:16px;}
.fsubmit{ margin:0 auto; width:244px; height:23px; padding-bottom:10px;}
.fsubmit input[type='submit']{ background:#FF318C; border:0; font:16px Microsoft YaHei; font-weight:400; color:#fff; margin:0 auto; float:left; 
height:35px; line-height:35px;cursor:pointer;}
.fsubmit a{ background:#fff; font:16px Microsoft YaHei; font-weight:400; color:#000; margin-left:20px; display:block; height:30px; line-height:30px;
float: left; text-align: center; width:76px;}