<extend name="Public:Layout/index"/>
<block name="main">
    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home home-icon"></i>
                    <a href="__APP__">主页</a>
                </li>

                <li>
                    <a href="#">网站配置管理</a>
                </li>
                <li class="active">配置信息</li>
            </ul><!-- .breadcrumb -->

            <div class="nav-search" id="nav-search">
                <form class="form-search">
                    <span class="input-icon">
                        <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                        <i class="icon-search nav-search-icon"></i>
                    </span>
                </form>
            </div><!-- #nav-search -->
        </div>

        <div class="page-content">
            <div class="page-header">
                <h1>
                    网站配置管理
                    <small>
                        <i class="icon-double-angle-right"></i>
                        配置信息
                    </small>
                </h1>
            </div><!-- /.page-header -->

            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->

                    <form class="form-horizontal" action='__CONTROLLER__/information' role="form" method='post' enctype='multipart/form-data'>
				
                        <br/>  <br/>  
                      <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 网站名称</label>

                            <div class="col-sm-9">
                                <input type="text"  name="title" value="" id="form-field-1"  class="col-xs-10 col-sm-5"/>
                                
                            </div>
                            
                        </div>
                        <div class="space-4"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-2">网站关键词</label>

                            <div class="col-sm-9">
                                <input type="text" name='words'  name="keywords" value="" id="form-field-2"  class="col-xs-10 col-sm-5"/>
                            </div>
                        </div>
                        <div class="space-4"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-2">网站描述 </label>

                            <div class="col-sm-9">
                                <input type="text" name="description" value=""  id="form-field-2"  class="col-xs-10 col-sm-5" />
                            </div>
                        </div>
                        <div class="space-4"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-2">网站状态</label>

                            <div class="col-sm-9">
                                <label> <input name="status" type="radio" value="1" checked } />
                                 &nbsp;开启 </label> &nbsp;&nbsp;&nbsp;&nbsp;
                                 <label><input name="status" type="radio" value="0" }/>&nbsp;关闭 </label> 
                               
                            </div>
                        </div>
                        <div class="space-4"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-2">网站版权</label>

                            <div class="col-sm-9">
                                <input type="text" name="copyright" id="form-field-2" class="col-xs-10 col-sm-5" value="" />
                               
                            </div>
                        </div>
                        <div class="space-4"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-2">ICP备案号</label>

                            <div class="col-sm-9">
                                <input type="text" name="icp" id="form-field-2" class="col-xs-10 col-sm-5" value=""/>
                               
                            </div>
                        </div>
                        <div class="space-4"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-2">网站LOGO </label>
                                
                             <div class="col-sm-9">                   
                                <input type="file" name="logo" />
                            </div>
                        </div>  
                 
                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                            <input type='submit' name='sub' class="btn btn-info" value='提交'/>
                    </div>
                </div>
                </div>  
                </form>              
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.main-content -->
</block>